@import url("https://fonts.googleapis.com/css?family=Poppins");

*
{
  font-family: 'Poppins', sans-serif;
}

body
{
  background-color: black;
}

header
{
  background-color: #141414;
  text-align: center;
}

nav button
{
  padding: 5px;
}

nav button:hover
{
  background-color: red;
}

.front-inf
{
  background-color: #202020;
  text-align: center;
}
